---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Yu-Jie Wang" description="About Yu-Jie Wang">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" tagline="Yu-Jie Wang(Jayyue)">
        <img
          width="1553"
          height="873"
          src="/assets/competitive-programming.jpg"
          alt="Yu-Jie Wang at competitive programming contest"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I'm Yu-Jie Wang, a master student of Computer Science and Informaiton Engineering
			 in National Central University.
          </p>
					<p>A member of <a href="https://www.programing.tw/" target="blank">普羅程式</a>, 
          serving as System Analysis and programmer, responsible for system analysis 
					and product development on the team.Technically focused on AI and full-stack 
					development, dedicated to researching AI applications in various scenarios.

					</p>
          <p>
            我是王裕傑，目前就讀中央大學資訊工程的碩士學位，為普羅程式團隊的成員，並在團隊內
						擔任系統分析與程式設計師，負責團隊的系統分析與產品開發。專注於AI、全端開發，
						並致力於研究AI在各種情況下的應用。
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
		  <b>Bachelor</b>
          <ul>
            <li>
              National Taiwan Ocean University-Computer Science and Engineering
            </li>
          </ul>
		  <b>Master</b>
		  <ul>
			<li>
			  National Central University-Computer Science and Information Engineering
			</li>
		  </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Publication</h2>
        <div class="content">
          <ul>
            <li>
              <a href="https://ieeexplore.ieee.org/document/10347502">
                Enhancing Underwater Images: Automatic Colorization using Deep
                Learning and Image Enhancement Techniques, Y. Lin, C. -W. Hung,
                Y. -J. Wang, C. -C. Liao and Y. -S. Tsai
              </a>
              <ul>
                <li>
                  <a
                    href="https://github.com/NTOU-Arrays-Start-at-One/Give-ocean-a-piece-of-your-mind"
                  >
                    GitHub Repository: Give Ocean A Piece Of Your Mind
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Personal Website</h2>
        <div class="content">
          <p><a href="https://jayyue-blog.vercel.app/" target="blank">jayyue-blog</a></p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
